# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [3]:
import pandas as pd
import numpy as np

In [4]:
from numpy.random import randn
np.random.seed(101)

In [5]:
ri = pd.read_csv("RI_clean.csv")

C:\Users\David\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
ri.groupby('driver_gender')

AttributeError: 'DataFrameGroupBy' object has no attribute 'unique'

In [26]:
ri.shape

(509681, 16)

In [25]:
ri.describe()

       driver_age_raw     driver_age
count   480632.000000  478986.000000
mean      1970.509997      33.982027
std        108.187159      12.702864
min          0.000000      15.000000
25%       1967.000000      23.000000
50%       1980.000000      31.000000
75%       1987.000000      43.000000
max       8801.000000      99.000000

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [33]:
# Pass a column name
ri['driver_age_raw'].head()

0    1985.0
1    1987.0
2       NaN
3    1986.0
4    1978.0
Name: driver_age_raw, dtype: float64

In [35]:
# Pass a list of column names
ri[['driver_age_raw','driver_age']].head()

   driver_age_raw  driver_age
0          1985.0        20.0
1          1987.0        18.0
2             NaN         NaN
3          1986.0        19.0
4          1978.0        27.0

**DataFrame Columns are just Series**

In [36]:
type(ri['driver_age_raw'])

pandas.core.series.Series

**Creating a new column:**

In [40]:
ri['event'] = ri['violation'] + ri['stop_outcome']

In [42]:
ri.head()

,date_and_time,police_department,driver_gender,driver_age_raw,driver_age,driver_race,violation,search_conducted,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,event
0,2005-01-02 01:55:00,600,M,1985.0,20.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,SpeedingCitation
1,2005-01-02 20:30:00,500,M,1987.0,18.0,White,Speeding,False,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,SpeedingCitation
2,2005-01-04 11:30:00,0,NaN,NaN,NaN,NaN,NaN,False,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1,NaN
3,2005-01-04 12:55:00,500,M,1986.0,19.0,White,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,EquipmentCitation
4,2005-01-06 01:30:00,500,M,1978.0,27.0,Black,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,EquipmentCitation

**Removing Columns**

In [43]:
ri.shape

(509681, 17)

In [ ]:
ri.drop('event', axis=1)

In [54]:
# Not inplace unless specified!
ri.head()

,date_and_time,police_department,driver_gender,driver_age_raw,driver_age,driver_race,violation,search_conducted,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,2005-01-02 01:55:00,600,M,1985.0,20.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,2005-01-02 20:30:00,500,M,1987.0,18.0,White,Speeding,False,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
3,2005-01-04 12:55:00,500,M,1986.0,19.0,White,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,2005-01-06 01:30:00,500,M,1978.0,27.0,Black,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
5,2005-01-12 08:05:00,0,M,1973.0,32.0,Black,Other,False,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [ ]:
ri.drop('event', axis=1, inplace=True)

In [ ]:
ri.head()

**Selecting Rows**

select rows based off of position aka 'index'

In [ ]:
ri = ri.reset_index(drop=True)

In [57]:
ri.head()

,date_and_time,police_department,driver_gender,driver_age_raw,driver_age,driver_race,violation,search_conducted,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,2005-01-02 01:55:00,600,M,1985.0,20.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,2005-01-02 20:30:00,500,M,1987.0,18.0,White,Speeding,False,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,2005-01-04 12:55:00,500,M,1986.0,19.0,White,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
3,2005-01-06 01:30:00,500,M,1978.0,27.0,Black,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,2005-01-12 08:05:00,0,M,1973.0,32.0,Black,Other,False,NaN,False,Citation,False,30+ Min,True,False,Zone X1

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [60]:
ri.head()

,date_and_time,police_department,driver_gender,driver_age_raw,driver_age,driver_race,violation,search_conducted,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,2005-01-02 01:55:00,600,M,1985.0,20.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,2005-01-02 20:30:00,500,M,1987.0,18.0,White,Speeding,False,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,2005-01-04 12:55:00,500,M,1986.0,19.0,White,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
3,2005-01-06 01:30:00,500,M,1978.0,27.0,Black,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,2005-01-12 08:05:00,0,M,1973.0,32.0,Black,Other,False,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [63]:
over_21 = ri['driver_age'] > 21
print(over_21)

0         False
1         False
2         False
3          True
4          True
5          True
6          True
7          True
8         False
9          True
10         True
11        False
12         True
13        False
14         True
15         True
16        False
17        False
18         True
19        False
20         True
21         True
22        False
23        False
24         True
25         True
26         True
27         True
28         True
29         True
          ...
509650    False
509651     True
509652     True
509653     True
509654    False
509655    False
509656    False
509657     True
509658     True
509659     True
509660     True
509661    False
509662     True
509663    False
509664     True
509665     True
509666     True
509667     True
509668     True
509669     True
509670    False
509671    False
509672    False
509673    False
509674    False
509675    False
509676    False
509677    False
509678    False
509679    False
Name: driver_age, Length: 509680, dtype: bool

In [ ]:
ri[over_21].head(10)

In [69]:
ri[over_21]['violation']

3                   Equipment
4                       Other
5                    Speeding
6            Moving violation
7                    Speeding
9         Registration/plates
10                   Speeding
12                   Speeding
14                   Speeding
15                   Speeding
18                   Speeding
20                  Equipment
21                  Equipment
24                   Speeding
25                   Speeding
26                   Speeding
27                   Speeding
28                   Speeding
29                   Speeding
31           Moving violation
32        Registration/plates
35           Moving violation
36                   Speeding
37                   Speeding
38                   Speeding
39                   Speeding
40                   Speeding
41                   Speeding
42                   Speeding
43                   Speeding
                 ...
509630       Moving violation
509631               Speeding
509632               Speeding
509633    Registration/plates
509634               Speeding
509636              Seat belt
509637               Speeding
509638               Speeding
509639               Speeding
509640               Speeding
509641               Speeding
509642               Speeding
509643               Speeding
509644              Equipment
509645               Speeding
509646       Moving violation
509651       Moving violation
509652    Registration/plates
509653               Speeding
509657       Moving violation
509658              Equipment
509659       Moving violation
509660       Moving violation
509662               Speeding
509664       Moving violation
509665               Speeding
509666    Registration/plates
509667              Equipment
509668               Speeding
509669              Seat belt
Name: violation, Length: 404142, dtype: object

In [71]:
ri[over_21]

,date_and_time,police_department,driver_gender,driver_age_raw,driver_age,driver_race,violation,search_conducted,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
3,2005-01-06 01:30:00,500,M,1978.0,27.0,Black,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,2005-01-12 08:05:00,0,M,1973.0,32.0,Black,Other,False,NaN,False,Citation,False,30+ Min,True,False,Zone X1
5,2005-01-18 08:15:00,300,M,1965.0,40.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
6,2005-01-18 17:13:00,0,M,1967.0,38.0,Hispanic,Moving violation,False,NaN,False,Citation,False,16-30 Min,True,False,Zone X1
7,2005-01-23 23:15:00,300,M,1972.0,33.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
9,2005-02-09 03:05:00,500,M,1976.0,29.0,White,Registration/plates,True,"Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4
10,2005-02-11 01:20:00,300,M,1978.0,27.0,Black,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
12,2005-02-17 04:15:00,500,M,1952.0,53.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
14,2005-02-24 01:20:00,200,F,1983.0,22.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
15,2005-02-24 05:50:00,200,M,1965.0,40.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
18,2005-03-16 12:05:00,0,M,1980.0,25.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X1
20,2005-03-19 14:15:00,900,M,1981.0,24.0,White,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
21,2005-03-23 09:45:00,500,M,1982.0,23.0,Black,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
24,2005-03-29 23:20:00,300,F,1971.0,34.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
25,2005-03-30 22:45:00,300,M,1969.0,36.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
26,2005-03-30 23:35:00,300,M,1953.0,52.0,Black,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
27,2005-04-01 17:30:00,600,M,1969.0,36.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K1
28,2005-04-04 21:25:00,600,M,1957.0,48.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
29,2005-04-24 23:55:00,500,M,1969.0,36.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
31,2005-05-21 01:00:00,500,M,1971.0,34.0,White,Moving violation,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
32,2005-06-04 03:40:00,300,M,1982.0,23.0,White,Registration/plates,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
35,2005-06-18 16:30:00,500,F,1964.0,41.0,White,Moving violation,False,NaN,False,Arrest Driver,True,30+ Min,False,False,Zone X4
36,2005-07-06 11:22:00,0,F,1973.0,32.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X1
37,2005-07-11 07:55:00,600,M,1982.0,23.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
38,2005-07-13 10:15:00,300,M,1970.0,35.0,Black,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
39,2005-07-13 15:20:00,500,M,1961.0,44.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
40,2005-07-13 15:45:00,500,M,1970.0,35.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
41,2005-07-13 16:20:00,500,M,1979.0,26.0,Asian,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
42,2005-07-13 16:45:00,500,F,1978.0,27.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
43,2005-07-13 19:00:00,500,F,1966.0,39.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509630,2015-12-31 19:13:00,300,M,1969.0,46.0,White,Moving violation,False,NaN,False,Citation,False,16-30 Min,False,False,Zone K3
509631,2015-12-31 19:27:00,0,F,1967.0,48.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X1
509632,2015-12-31 19:44:00,500,F,1969.0,46.0,White,Speeding,False,NaN,False,Warning,False,0-15 Min,False,False,Zone K2
509633,2015-12-31 19:55:00,200,F,1974.0,41.0,White,Registration/plates,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
509634,2015-12-31 19:56:00,900,M,1956.0,59.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K2
509636,2015-12-31 20:07:00,500,M,1981.0,34.0,White,Seat belt,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
509637,2015-12-31 20:08:00,500,M,1985.0,30.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone X4
509638,2015-12-31 20:18:00,300,M,1993.0,22.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
509639,2015-12-31 20:20:00,900,M,1993.0,22.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
509640,2015-12-31 20:25:00,500,M,1992.0,23.0,Hispanic,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
509641,2015-12-31 20:27:00,500,M,1986.0,29.0,White,Speeding,False,NaN,False,Warning,False,0-15 Min,True,False,Zone X4
509642,2015-12-31 20:28:00,300,M,1977.0,38.0,Hispanic,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
509643,2015-12-31 20:34:00,200,M,1975.0,40.0,Hispanic,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
509644,2015-12-31 20:35:00,500,F,1982.0,33.0,White,Equipment,False,NaN,False,Warning,False,0-15 Min,False,False,Zone K2
509645,2015-12-31 20:42:00,900,F,1978.0,37.0,Hispanic,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K2
509646,2015-12-31 20:45:00,200,M,1992.0,23.0,White,Moving violation,False,NaN,False,Warning,False,0-15 Min,False,False,Zone X3
509651,2015-12-31 21:21:00,900,F,1969.0,46.0,Black,Moving violation,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
509652,2015-12-31 21:32:00,200,M,1965.0,50.0,Black,Registration/plates,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
509653,2015-12-31 21:42:00,0,M,1993.0,22.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
509657,2015-12-31 22:04:00,200,M,1989.0,26.0,White,Moving violation,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
509658,2015-12-31 22:09:00,300,F,1992.0,23.0,Hispanic,Equipment,False,NaN,False,Warning,False,0-15 Min,False,False,Zone K3
509659,2015-12-31 22:10:00,300,F,1989.0,26.0,Hispanic,Moving violation,False,NaN,False,Warning,False,0-15 Min,False,False,Zone X4
509660,2015-12-31 22:10:00,300,F,1989.0,26.0,Hispanic,Moving violation,False,NaN,False,Arrest Driver,True,0-15 Min,False,False,Zone X4
509662,2015-12-31 22:26:00,300,M,1964.0,51.0,Asian,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
509664,2015-12-31 22:39:00,300,F,1976.0,39.0,White,Moving violation,False,NaN,False,Citation,False,16-30 Min,True,False,Zone K3
509665,2015-12-31 22:46:00,0,M,1959.0,56.0,Hispanic,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
509666,2015-12-31 22:47:00,500,M,1988.0,27.0,White,Registration/plates,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
509667,2015-12-31 23:08:00,200,M,1980.0,35.0,Hispanic,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
509668,2015-12-31 23:44:00,900,M,1984.0,31.0,White,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
509669,2015-12-31 23:48:00,300,M,1988.0,27.0,Hispanic,Seat belt,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

For two conditions you can use | and & with parenthesis:

In [75]:
# and = & in pandas
white_over_21 = ri[( ri['driver_race'] == "White") & (ri["driver_age"] > 21)]
black_over_21 = ri[( ri['driver_race'] == "Black") & (ri["driver_age"] > 21)]

In [82]:
black_over_21.describe()

       driver_age_raw    driver_age
count    59412.000000  59412.000000
mean      1975.516512     35.095351
std         11.573377     11.010839
min       1913.000000     22.000000
25%       1968.000000     26.000000
50%       1978.000000     32.000000
75%       1985.000000     42.000000
max       1993.000000     93.000000

In [83]:
white_over_21.describe()

       driver_age_raw     driver_age
count   287637.000000  287637.000000
mean      1972.661782      37.455675
std         12.839012      12.506173
min       1912.000000      22.000000
25%       1963.000000      27.000000
50%       1975.000000      35.000000
75%       1983.000000      46.000000
max       1993.000000      99.000000

In [81]:
# or = | in pandas
citation_or_arrest = ri[(ri['stop_outcome'] == 'Citation') | (ri['is_arrested'] == True)]
citation_or_arrest.shape

(444991, 16)